<?xml version="1.0"?>
<!-- Copyright (c) 2015 John Wiley & Sons, Inc. All rights reserved. -->

<!-- All material contained herein is proprietary to John Wiley & Sons -->
<!-- and its third party suppliers, if any. The methods, techniques and -->
<!-- technical concepts contained herein are considered trade secrets -->
<!-- and confidential and may be protected by intellectual property laws. -->
<!-- Reproduction or distribution of this material, in whole or in part, -->
<!-- is strictly forbidden except by express prior written permission -->
<!-- of John Wiley & Sons. -->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="asdb">
		<property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@10.200.32.85:1525/PDASAPP</property>
		<property name="connection.username">as2appuser</property>
		<property name="connection.password">as2appuser_123</property>
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="show_sql">true</property>
		<!-- <property name="validationQuery">select 1 from dual</property> -->
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<mapping
			class="com.wiley.gr.ace.auth.security.dao.LockedAccountDetails" />
		

	</session-factory>
</hibernate-configuration>
