<?xml version="1.0"?>
<!-- Copyright (c) 2015 John Wiley & Sons, Inc. All rights reserved. -->

<!-- All material contained herein is proprietary to John Wiley & Sons -->
<!-- and its third party suppliers, if any. The methods, techniques and -->
<!-- technical concepts contained herein are considered trade secrets -->
<!-- and confidential and may be protected by intellectual property laws. -->
<!-- Reproduction or distribution of this material, in whole or in part, -->
<!-- is strictly forbidden except by express prior written permission -->
<!-- of John Wiley & Sons. -->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="asdb">
		<property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@10.6.4.146:1521/pdasstg</property>
		<property name="connection.username">pdbadmin</property>
		<property name="connection.password">board</property>
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="show_sql">true</property>
		<!-- <property name="validationQuery">select 1 from dual</property> -->
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		
		
		 <mapping class="com.wiely.gr.ace.discount.service.model.DiscountDetails"/>  
		
		<!-- 
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.AdditionalPermissions" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.AddressType" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.AdminProfile" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.Permissions" />
		<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.Alerts" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.AuthCoauthDetails" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.AuthColleagueDetails" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.CoauthorRequestsOoorders" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.Databasechangelog" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.DatabasechangelogId" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.Databasechangeloglock" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.InvitationLog" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserProfile" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.LockedAccountDetails" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.ResearchFunders" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.RolePermissions" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.RolePermissionsId" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserFunderGrants" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserFunders" />
		<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.Users" />
		<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.Roles" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.SavedOrders" />
		<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.Schedule" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.ScheduleTemplate" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.Societies" />
		<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.Template" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserProfileAttribVisible" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserReferenceData" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserAlerts" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserAlertsId" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserPreferredJournals" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserPreferredJournalsId" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.LookupValues" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.Notification" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.NotificationRecipients" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.ObjectTypes" />
		<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.Orders" />
				<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.OrderAuthorsQuery" />
				<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.OrderArticleQuery" />
				<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.OrderReference" />
				<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.OrderTypes" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.PermissionGroups" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.PermissionGroupsId" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserSocietyDetails" />
		<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.Address" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.AreaOfInterest" />

		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserAffiliations" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserWoaAccounts" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserWoaAccountsId" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserRoles" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserAreaOfInterest" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserAreaOfInterestId" />

		<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.Actions" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.AuditDetails" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.ProfileAttributeList" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserAddresses" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserProfileAttribVisibleId" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserRolesId" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.UserSecondaryEmailAddr" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.InviteResetpwdLog" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.JournalAlertsConfiguration" />
		<mapping class="com.wiley.gr.ace.authorservices.persistence.entity.Products" />

		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.ProductRoles" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.ProductRelations" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.ProductPublicationStatuses" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.ProductPersonRelations" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.PublicationStatuses" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.JournalConfiguration" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.JournalSetupStates" />
		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.AlertTypes" />

		<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.ArticleConfiguration" />
			<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.WpgResponseDetails" />
			<mapping
			class="com.wiley.gr.ace.authorservices.persistence.entity.WpgResponseDetailsId" />
			 -->
	</session-factory>
</hibernate-configuration>
